.navbar {
  padding-top: 20px;
  padding-bottom: 23px;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav li a {
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  color: #8d8d8d;
  text-transform: uppercase;
  text-decoration: none;
  width: 15px;
  height: 15px;
  padding: 7px 7px;
  border-radius: 5px;
}

.navbar-nav li a:hover {
  background-color: #ffbb42;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navBurger {
  display: none;
  position: fixed;
  right: 20px;
  top: 20px;
  cursor: pointer;
  background: #111;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: content-box;
  width: 30px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  z-index: 2;
}

.navBurger:before {
  content: "";
  position: absolute;
  background: #111;
  height: 2px;
  width: 100%;
  right: 0;
  will-change: rotate;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navBurger:after {
  content: "";
  position: absolute;
  background: #111;
  height: 2px;
  width: 100%;
  right: 0;
  will-change: rotate;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navBurger:before {
  top: -10px;
}

.navBurger:after {
  bottom: -10px;
  width: 90%;
}

.navBurger.active {
  background: transparent;
  background-clip: content-box;
}

.navBurger.active:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
  background: #eee;
  width: 110%;
}

.navBurger.active:after {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #eee;
  width: 110%;
}

.overlay {
  position: fixed;
  background: #2a3140;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform-origin: right top;
  transform-origin: right top;
  -webkit-transform: scale(0);
  transform: scale(0);
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.overlay.open {
  opacity: 0.99;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}

.overlay.open li {
  display: block;
  -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  -webkit-transform-origin: right top;
  transform-origin: right top;
}

.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.overlay.open li:nth-of-type(6) {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.overlay.open li:nth-of-type(7) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.overlayMenu {
  position: absolute;
  text-align: right;
  right: 10vw;
  bottom: 10vw;
}

.overlayMenu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100%;
}

.overlayMenu ul li {
  display: block;
  position: relative;
  opacity: 0;
  width: 100%;
}

.overlayMenu ul li a {
  display: inline-block;
  border: 1px solid rgba(255, 255, 255, 0.09);
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 40px 10px 40px;
  margin: 5px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.overlayMenu ul li a:hover {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
  padding-left: 80px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.03);
}

.overlayMenu ul li a:active {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
  padding-left: 80px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.03);
}

.overlayMenu ul li a:focus {
  -webkit-transform: translateX(-2px);
  transform: translateX(-2px);
  padding-left: 80px;
  outline: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.03);
}

.locked {
  overflow: hidden;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }

  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }

  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.button {
  background-color: #ffbb42;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid transparent;
  padding: 10px 40px;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 3px;
}

.button:hover {
  background-color: #ffc45c;
  cursor: pointer;
}

.form__input {
  font-family: 'Open Sans', sans-serif;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 10px;
  vertical-align: middle;
  width: 100%;
  max-width: 275px;
}

.form__input_name {
  background: #fff url("../img/form_icon/person.png") no-repeat 15px;
  padding-left: 45px;
}

.form__input_mail {
  background: #fff url("../img/form_icon/email.png") no-repeat 15px;
  padding-left: 45px;
}

.form__input_phone {
  background: #fff url("../img/form_icon/phone.png") no-repeat 15px;
  padding-left: 45px;
}

.dark-text__title {
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #394b50;
  margin: 0;
}

.dark-text__subtitle {
  color: #394b50;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.main {
  background-color: #709dca;
  height: 590px;
  margin-bottom: 100px;
}

.main-text {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

.main-text__title {
  color: #ffffff;
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.main-text__subtitle {
  color: #ffffff;
  font-weight: 300;
  font-family: 'OpenSans', sans-serif;
}

.main-form {
  text-align: center;
}

.main-slider {
  position: relative;
}

.main-slider_wrap {
  position: absolute;
  top: 93px;
  left: 50%;
  margin-left: -324px;
  height: 346px;
  width: 648px;
  background: url("../img/slider/notebook.png") no-repeat center;
}

.main-slider-single {
  margin-left: 102px;
  max-width: 450px;
  margin-top: 20px;
}

.custom-dots {
  position: absolute;
  bottom: -110px;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
}

.custom-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.custom-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.custom-dots li button:hover {
  outline: none;
}

.custom-dots li button:hover:before {
  opacity: 1;
}

.custom-dots li button:focus {
  outline: none;
}

.custom-dots li button:focus:before {
  opacity: 1;
}

.custom-dots li.slick-active:before {
  opacity: 1;
}

.custom-dots li:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: url("../img/slider/Ellipse.svg");
  text-align: center;
  opacity: .25;
}

.services {
  padding-bottom: 60px;
}

.services-text {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 30px;
}

.services-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 19px;
  margin-bottom: 30px;
}

.services-block__text_title {
  font-size: 1.1rem;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  text-align: left;
  color: #394b50;
  display: inline-block;
  margin-bottom: 10px;
}

.services-block__text_descr {
  font-size: .9rem;
  line-height: 1.7;
  font-family: 'OpenSans', sans-serif;
}

.services-block__img {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-right: 9px;
}

.information {
  margin: 0;
  padding: 0;
}

.information-bg img {
  display: block;
  max-width: 100%;
}

.information-text {
  background-color: #ffbb42;
  height: 100%;
}

.information-text__title {
  font-size: 2.1rem;
  text-transform: uppercase;
  line-height: 0.733;
  color: #ffffff;
  padding-top: 130px;
  padding-bottom: 28px;
  padding-left: 75px;
}

.information-text__descr {
  font-size: 1rem;
  font-family: "OpenSans";
  color: #ffffff;
  line-height: 1.846;
  max-width: 500px;
  padding-left: 75px;
  padding-bottom: 35px;
}

.information-text__button {
  padding-left: 75px;
}

.information-text__button button {
  border: 1px #e7ad48 solid;
}

.price {
  background-color: #e7edf3;
  padding-bottom: 130px;
}

.price-text {
  text-align: center;
  padding-top: 130px;
  padding-bottom: 50px;
}

.price-block {
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-bottom: 48px;
}

.price-block h3 {
  font-size: 1.7rem;
  font-family: "Lato";
  text-transform: uppercase;
  margin: 0;
  padding-top: 53px;
  padding-bottom: 33px;
}

.price-block h4 {
  margin: 0;
  font-size: 4rem;
  font-family: "Lato";
  font-weight: bold;
  text-transform: uppercase;
  color: #ffbb42;
  padding-bottom: 35px;
}

.price-block div {
  font-size: 1rem;
  font-family: "Lato";
  text-transform: uppercase;
  line-height: 2.963;
  font-weight: 300;
}

.price-block div:before {
  content: '';
  width: 90%;
  height: 1px;
  background-color: #8d8d8d;
  display: block;
  margin: auto;
}

.price-block button {
  margin-top: 30px;
}

.price-block:hover {
  cursor: pointer;
  background-color: #709dca;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.price-block:hover h3 {
  color: #fff;
}

.price-block:hover h4 {
  color: #fff;
}

.price-block:hover div {
  color: #fff;
}

.price-block:hover div:before {
  content: '';
  width: 90%;
  height: 1px;
  background-color: #fff;
  display: block;
  margin: auto;
}

.work {
  padding-bottom: 130px;
}

.work-text {
  text-align: center;
  padding-bottom: 90px;
  padding-top: 130px;
}

.work-img__circle {
  text-align: center;
  border: 1px #E1E5E5 solid;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.work-img__circle img {
  padding-bottom: 70px;
  padding-top: 20px;
}

.work-block {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.work-block__title {
  font-size: 1.5rem;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
  padding-bottom: 25px;
}

.work-block__descr {
  font-size: 1rem;
  font-family: "OpenSans";
  line-height: 1.692;
}

.work-block__button {
  text-align: center;
}

.clients {
  background-color: #ffbb42;
  padding-bottom: 130px;
}

.clients-text {
  padding-bottom: 60px;
  padding-top: 130px;
  text-align: center;
}

.clients-text__title {
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.clients-text__subtitle {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.clients-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  background-color: #ffffff;
}

.clients-block__img {
  padding: 40px 27px;
}

.clients-block-text {
  padding-top: 25px;
  padding-right: 27px;
}

.clients-block-text__descr {
  font-size: 1rem;
  font-family: "OpenSans";
  line-height: 1.692;
  white-space: pre-wrap;
  margin: 0;
}

.clients-block-text__descr sup {
  font-size: 30px;
  font-weight: bold;
}

.clients-block-text__descr sub {
  font-size: 30px;
  font-weight: bold;
  vertical-align: -17px;
}

.clients-block-text__author {
  color: #ffbb42;
  font-size: 1rem;
  font-family: "Lato";
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 50px;
}

.clients-block-text__author span {
  color: #99a9ae;
}

.contacts {
  padding-top: 130px;
}

.contacts-block {
  background: url("../img/contacts/world-bg.jpg") center no-repeat;
  height: 100%;
}

.contacts-block_date {
  background: url("../img/contacts/adress_circle.png") center no-repeat;
  height: 100%;
}

.contacts-block_date_adress {
  margin: auto;
  text-align: center;
  padding-top: 120px;
}

.contacts-block_date_adress div {
  padding-bottom: 17px;
  color: #fff;
}

.contacts-block_date_adress .adress {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.contacts-block_date_adress .mail {
  color: #ffbb42;
}

.contacts .line {
  margin-top: 35px;
  height: 1px;
  background-color: #99a9ae;
}

.menu-container_footer {
  padding-top: 45px;
  padding-bottom: 15px;
}

.navbar-nav_footer {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.navbar-nav_footer .nav_link {
  color: #394b50;
}

.footer-menu__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 15px;
}

.footer-menu__phone_img {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-right: 4px;
}

.footer-menu__phone_tel {
  font-size: 1.6rem;
  font-family: "Lato";
  color: #394b50;
  -moz-transform: matrix(0.99526, 0, 0, 1.00611, 0, 0);
  -webkit-transform: matrix(0.99526, 0, 0, 1.00611, 0, 0);
  -ms-transform: matrix(0.99526, 0, 0, 1.00611, 0, 0);
}

.social-links {
  text-align: center;
  padding-bottom: 50px;
}

.social-links a {
  color: #709dca;
  padding-right: 10px;
  font-size: 1.1rem;
}

.social-links a:hover {
  color: #ffbb42;
}

.footer {
  background-color: #709dca;
}

.footer .legal {
  font-size: 1rem;
  font-family: "OpenSans";
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .menu-container {
    display: none;
  }

  .navBurger {
    display: block;
  }

  .main-slider {
    display: none;
  }

  .hidden-mobile {
    display: none;
  }

  .menu-container_footer {
    display: none;
  }

  .main-text__title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .form__input_name {
    margin-top: 45px;
    margin-bottom: 35px;
  }

  .form__input_mail {
    margin-bottom: 35px;
  }

  .form__input_phone {
    margin-bottom: 30px;
  }

  .services-text {
    padding-top: 0;
  }

  .information-text {
    padding-bottom: 30px;
  }

  .information-text__title {
    padding: 0;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 30px;
  }

  .information-text__descr {
    text-align: center;
    padding: 0;
    padding-bottom: 30px;
    max-width: 350px;
    margin: 0 auto;
  }

  .information-text__button {
    padding: 0;
    text-align: center;
  }

  .price {
    padding-bottom: 60px;
  }

  .price-block {
    margin-bottom: 25px;
  }

  .work {
    padding-bottom: 60px;
  }

  .work-text {
    padding-top: 100px;
    padding-bottom: 30px;
  }

  .work-block {
    padding-top: 60px;
    padding-bottom: 30px;
  }

  .clients {
    padding-bottom: 30px;
  }

  .clients-text {
    padding-bottom: 30px;
    padding-top: 100px;
  }

  .clients-block {
    display: block;
  }

  .clients-block__img {
    padding: 25px;
    text-align: center;
  }

  .clients-block-text {
    text-align: center;
    padding: 0;
  }

  .button {
    display: block;
    margin: auto;
  }

  .contacts-block_date_adress {
    margin: 32px;
    padding-top: 50px;
  }
}

html {
  font-size: 14px;
}

body {
  color: #8d8d8d;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}