@media (max-width: 576px)
    .contacts-block-info
        display: none
    .company
        text-align: center
        &-call
            padding-top: 3rem
        &-phone
            padding-top: 3rem
    .main-text-title
        margin-top: 1rem
        font-size: 3rem
        line-height: 1.2
    .text-title
        &::before
            display: none
        &::after
            display: none