@charset "UTF-8";

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 15px 0;
}

.header-logo {
  background: url("../img/logo.png") center no-repeat;
  background-size: 100%;
  width: 191px;
  height: 61px;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-contacts__phones {
  font-size: 22px;
  text-transform: uppercase;
  margin-right: 13px;
}

.header-contacts__phones:first-child {
  border-right: 1px solid #cfcfd0;
  padding-right: 10px;
}

.header-mobile {
  display: none;
}

.section-title {
  font-size: 27px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}

.section-title::after {
  content: '';
  display: block;
  height: 6px;
  margin-top: 12px;
  background: url("../img/products/line.png") center no-repeat;
}

.button {
  background-color: #ff9d00;
  font-size: 14px;
  color: #ffffff;
  border: 1px solid transparent;
  padding: 13px 22px;
  border-radius: 5px;
}

.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}

.button img {
  vertical-align: middle;
}

.button_big {
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align: middle;
}

.button-o {
  background-color: transparent;
  font-size: 14px;
  color: #cacaca;
  border: 1px solid #cacaca;
  border-radius: 5px;
}

.button-arrow {
  position: absolute;
  top: 10%;
  display: block;
  height: 105px;
  width: 34px;
  background-color: #fff;
  border: 1px solid #ff9d00;
  outline: none;
  cursor: pointer;
}

.button-prev {
  left: 0;
  margin-right: 100px;
  z-index: 99;
  background: #fff url("../img/production/prev.png") center no-repeat;
}

.button-prev:hover {
  background: #ff9d00 url("../img/production/prev-active.png") center no-repeat;
}

.button-next {
  right: 0;
  background: #fff url("../img/production/next.png") center no-repeat;
}

.button-next:hover {
  background: #ff9d00 url("../img/production/next-active.png") center no-repeat;
}

.btn-arrow {
  position: absolute;
  top: 30%;
  display: block;
  height: 93px;
  width: 28px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-next {
  right: 0;
  background: transparent url("../img/reviews/next.png") center no-repeat;
}

.btn-prev {
  left: 0;
  background: transparent url("../img/reviews/prev.png") center no-repeat;
  z-index: 10;
}

.dark-bg {
  position: relative;
  z-index: 2;
  /* Затемнение фонового изоброжения */
}

.dark-bg::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input:focus,
button:focus {
  outline: none;
}

html {
  font-size: 10px;
}

.main {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #373737 url("../img/main/main-bg.jpg") center no-repeat;
  background-size: cover;
  color: #ffffff;
  /* Офармление главной картинки */
}

.main-img {
  position: relative;
}

.main-img::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 390px;
  height: 390px;
  left: 50%;
  margin-left: -195px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.main-text__title {
  margin-bottom: 28px;
  font-size: 41px;
  font-weight: 700;
}

.main-text__subtitle {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 27px;
}

.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.form-title {
  padding-right: 87px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 20px;
}

.form-title__important {
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.form__input {
  margin-right: 10px;
  border-radius: 4px;
  border: none;
  padding: 20px;
  vertical-align: middle;
  width: 100%;
  max-width: 365px;
}

.form-small {
  font-size: 14px;
  font-weight: 300;
  padding-left: 20px;
}

.nav-main {
  margin: 0 auto;
  padding: 15px;
  background-color: #373737;
  text-align: center;
  width: 100%;
}

.nav-main a {
  display: inline-block;
  padding: 8px 30px;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  border-right: dashed 1px #5f5f5f;
  text-decoration: none;
}

.nav-main a:hover {
  color: #ff9d00;
}

.nav-main .last {
  border-right: none;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlay .popup {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 752px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.overlay .popup-close {
  position: absolute;
  right: -20px;
  top: -30px;
  font-size: 35px;
  color: #ffffff;
  font-weight: 300;
  cursor: pointer;
}

.overlay .popup-title {
  display: block;
  width: 100%;
  height: 71px;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  line-height: 71px;
  margin: 0;
  text-transform: uppercase;
  background-color: #ff9d00;
  color: #ffffff;
}

.overlay .popup-form {
  background: url("../img/modal/form-bgk.png") center no-repeat;
  background-size: cover;
  padding: 35px 88px 50px 88px;
  color: #ffffff;
}

.overlay .popup-form-header {
  padding: 0;
  font-size: 30px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
}

.overlay .popup-form-header span {
  font-size: 24px;
}

.overlay .popup-form__label {
  display: block;
  margin-top: 23px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}

.overlay .popup-form__input {
  width: 365px;
  height: 56px;
  margin-top: 17px;
}

.overlay .popup-form__btn {
  width: 180px;
  height: 56px;
  margin-left: 16px;
  font-size: 15px;
  font-weight: 500;
  line-hieght: 22px;
}

.overlay .popup-form__note {
  padding-top: 14px;
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}

.popup-reviews {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 103;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-reviews-dialog {
  min-width: 300px;
  min-height: 400px;
  position: fixed;
  left: 50%;
  top: 4%;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0;
  text-align: center;
  z-index: 92;
}

.popup-reviews-dialog img {
  height: 100%;
  min-width: 390px;
  min-height: 500px;
  display: inline-block;
  line-height: 30rem;
}

.popup-reviews-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #fff;
  outline: none;
  cursor: pointer;
}

.popup-reviews-close:hover {
  background-color: transparent;
}

.popup-reviews-1,
.popup-reviews-2 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
}

.features {
  background-color: #f4f4f4;
  padding-top: 49px;
  padding-bottom: 59px;
}

.number-title {
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 10px;
  color: #ff9d00;
}

.number-title sup {
  font-size: 18px;
}

.number-text {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}

.features-block {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 28px 19px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.features-block__img {
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  margin-right: 9px;
}

.features-block__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.features-block__descr {
  font-size: 14px;
  font-weight: 300;
}

.products {
  padding-top: 57px;
  padding-bottom: 73px;
}

.products-block {
  margin-bottom: 35px;
  text-align: center;
}

.products-block__img {
  margin-bottom: 19px;
}

.products-block__title {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 700;
}

.products-block__button {
  margin-right: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients-block {
  text-align: center;
  margin-bottom: 35px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.clients-block:hover {
  -webkit-filter: grayscale(1%);
  filter: grayscale(1%);
}

.production {
  padding-top: 87px;
  padding-bottom: 90px;
}

.production-text__title {
  padding-left: 10%;
  margin-left: -10%;
  margin-top: 19px;
  margin-bottom: 28px;
  width: 110%;
  font-size: 28px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
  background-color: #ff9d00;
}

.production-text__descr p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  width: 100%;
  max-width: 379px;
}

.production-mob {
  display: none;
}

.slider-single {
  position: relative;
  z-index: 2;
}

.slider-nav {
  padding: 15px 40px;
}

.slider-nav img {
  margin: 0 6px;
}

.reviews {
  padding: 40px 100px;
  background-color: #f4f4f4;
}

.reviews-card {
  min-height: 37rem;
  border: 10px solid #f4f4f4;
  border-radius: 10px;
  outline: none;
}

.reviews-card img {
  padding: 0 50px 0 50px;
}

.offer {
  padding-top: 64px;
  padding-bottom: 69px;
  background: #373737 url("../img/offer/offer-bg.png") center no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
}

.offer-title {
  font-size: 32px;
  font-weight: 300;
}

.offer-title_small {
  font-size: 26px;
  display: block;
  margin-top: 7px;
}

.offer-form__label {
  display: block;
  margin-bottom: 17px;
  font-size: 20px;
  font-weight: 300;
  display: block;
}

.offer-form__input {
  display: block;
  margin: auto;
  margin-bottom: 12px;
}

.offer-form__button {
  margin-bottom: 9px;
}

.contacts {
  position: relative;
}

.contacts-block {
  position: absolute;
  left: 10%;
  top: -470px;
  background-color: #fff;
  padding-top: 33px;
  padding-bottom: 39px;
  padding-left: 60px;
  padding-right: 34px;
  font-size: 16px;
}

.contacts-block__adress:before {
  content: url("../img/contacts/marker.png");
  display: inline-block;
  position: absolute;
  left: 30px;
}

.contacts-block__phone:before {
  content: url("../img/contacts/phone.png");
  display: inline-block;
  position: absolute;
  left: 30px;
}

.contacts-block__email:before {
  content: url("../img/contacts/mail.png");
  display: inline-block;
  position: absolute;
  left: 30px;
}

.contacts-block__title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 8px;
}

.contacts-block__text {
  margin-bottom: 30px;
}

.contacts-block-mobile {
  display: none;
}

.footer {
  padding: 36px;
  background-color: #373737;
  text-align: center;
  width: 100%;
}

.footer p {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 13px;
  opacity: .5;
}

@media (max-width: 576px) {
  .hidden-mobile {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .header-mobile span {
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    background-color: #333;
    margin-bottom: 3px;
    border: 1px solid red;
  }

  .header-mobile-logo {
    margin-top: -1.2rem;
    margin-left: 3.6rem;
    padding: .8rem;
    text-align: right;
  }

  .header-mobile-phone {
    font-size: 1.4rem;
    margin-top: 1.7rem;
    margin-right: -1rem;
    float: right;
    line-height: 0;
  }

  .header-mobile-phone p {
    margin-top: 0;
    margin-bottom: 1.6rem;
  }

  .header-mobile-block {
    position: relative;
  }

  .header-mobile-btn {
    position: absolute;
    left: 180%;
    padding: .4rem;
    margin-top: 1rem;
    margin-right: -5rem;
  }

  .chec {
    margin-top: 1.5rem;
    display: inline-block;
  }

  .chec a {
    color: #373737;
    text-decoration: none;
    background-color: transparent;
  }

  .chec #menuToggle {
    display: block;
    position: fixed;
    top: 1.3rem;
    left: 1.5rem;
    z-index: 100;
  }

  .chec #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  .chec #menuToggle input:checked ~ ul {
    -webkit-transform: none;
    transform: none;
  }

  .chec #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(761deg) translate(-2px, -1px);
    transform: rotate(761deg) translate(-2px, -1px);
    background: #ff9d00;
    border: none;
    -webkit-transition: -webkit-transform 1.2s ease;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease, -webkit-transform 1.2s ease;
  }

  .chec #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .chec #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-761deg) translate(0, -1px);
    transform: rotate(-761deg) translate(0, -1px);
    background: #ff9d00;
    border: none;
    -webkit-transition: -webkit-transform 1.2s ease;
    transition: -webkit-transform 1.2s ease;
    transition: transform 1.2s ease;
    transition: transform 1.2s ease, -webkit-transform 1.2s ease;
  }

  .chec #menuToggle span {
    display: block;
    border: 1px solid #fff;
    width: 35px;
    height: 6px;
    margin-bottom: 2.5px;
    position: relative;
    background: #373737;
    z-index: 1;
    -webkit-transform-origin: 4px 0;
    transform-origin: 4px 0;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .chec #menuToggle span:first-child {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  .chec #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }

  .chec #menu {
    position: fixed;
    top: 3.9rem;
    left: 0;
    width: 100%;
    padding: 2rem 4rem;
    z-index: 1;
    background: #fff;
    list-style-type: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: translate(0, -120%);
    transform: translate(0, -120%);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.4s cubic-bezier(0.77, 0.2, 0.05, 1);
    background: #ffb75e;
    background: -webkit-gradient(linear, left top, right top, from(#ed8f03), to(#ffb75e));
    background: linear-gradient(to right, #ed8f03, #ffb75e);
  }

  .chec #menu strong {
    display: block;
    text-align: center;
    padding: .5rem 0;
    font-size: 22px;
    font-family: 'Roboto_reg';
    font-family: 'Roboto_bold', sans-serif;
    text-transform: uppercase;
  }

  .main {
    padding-top: 50px;
    text-align: center;
  }

  .main-text__title {
    font-size: 22px;
    color: #ff9d00;
  }

  .main-text__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .main-text__form {
    background-color: transparent;
    padding: 10px;
  }

  .form {
    display: block;
  }

  .form-title {
    padding-right: 0;
    font-size: 15px;
    line-height: 1.4;
  }

  .form__input {
    display: block;
    margin-bottom: 13px;
  }

  .features-block {
    margin-bottom: 8px;
  }

  .production {
    display: none;
  }

  .production-mob {
    display: block;
  }

  .production-mob-header {
    background-color: #ff9d00;
    width: 100%;
    text-align: center;
  }

  .production-mob-header h2 {
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
  }

  .production-mob-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    width: 100%;
    max-width: 379px;
    text-align: center;
  }

  .clients {
    padding-bottom: 10px;
  }

  .clients-block {
    -webkit-filter: grayscale(1%);
    filter: grayscale(1%);
  }

  .section-title {
    padding-top: 34px;
  }

  .section-title::after {
    display: none;
  }

  .reviews {
    padding: 0;
  }

  .overlay {
    z-index: 103;
  }

  .overlay .popup {
    max-width: 94%;
    max-height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .overlay .popup-title {
    font-size: 16px;
  }

  .overlay .popup-close {
    top: -5px;
    right: 20px;
  }

  .overlay .popup-form {
    padding: 48px 18px;
  }

  .overlay .popup-form-header {
    font-size: 20px;
    font-weight: 500;
    max-width: 100%;
  }

  .overlay .popup-form-header span {
    font-size: 16px;
    display: block;
  }

  .overlay .popup-form__label {
    font-size: 14px;
  }

  .overlay .popup-form__input {
    max-width: 100%;
    margin-bottom: 7px;
  }

  .contacts-block-mobile {
    display: block;
    text-align: center;
    margin-bottom: 28px;
  }

  .contacts-block-mobile h2 {
    font-size: 18px;
    text-transform: uppercase;
  }

  .contacts-block-mobile h4 {
    font-size: 16px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .contacts-block-mobile p {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 18px;
  }
}